#explanation {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
#form-fields {
    margin-top: 20px;
    margin-bottom: 50px;
}
.std-button {
    width: 80%;
    margin-left: 10%;
    font-weight: 800;
}
#not-found {
    text-align: center;
    margin-top: 40px;
}