ion-item-divider {
    // backgroun
}
.subheader {
    
}
.get {
    background-color: var(--ion-color-secondary);
    border-radius: 15px;
    color: white;
    width: 50px;
    text-align: center;
    margin-right: 5px;
    padding: 2px;
    font-weight: 500;
}
