<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button color="secondary" (click)="getSongs()">Add Song</ion-button>
    <ion-button color="secondary" (click)="playDownloadedSong()"><ion-icon slot="start" name="play-circle"></ion-icon>Play Song</ion-button> -->
    <section>
      <!-- <div id="img-background"> -->
      <img id="logo" src="/assets/logos/ShortDashboardLogoNoSub.png">
      <!-- </div> -->
      <div class="section-title">
        <div>“I will praise the name of God with a song.”</div>
        <div>Psalm 69:30</div>
      </div>
      <div id="body">
        <div>Music has the power to deeply move our souls.  It connects us with heaven revealing our God-given strength and potential.  It lifts us to higher purposes and inspires us to greater climbs.  Music can speak for us and to us.  It can express what our lips cannot.  It is comfort, peace, vision, brilliance, hope, awe and encouragement - in perfect harmony.</div>
        <div>Simply put, music brings us to God.</div>
        <div>It is a privilege to share the Live All In journey and music with you.</div>
      </div>
      <img id="signature" src="/assets/pics/SignatureFirstNameNoBackground.PNG">
      <!-- <ul>
        <li><span class="highlight">Available in this app</span> - New original Hilary Weeks song (not available anywhere else!)</li>
        <li><span class="highlight">Available in this app</span> - Instrumental track</li>
        <li>Custom song study to go deeper into the themes of the song</li>
        <li>Designed printable artwork featuring lyrics from the song</li>
        <li>Sheet music</li>
        <li>Private Facebook Group to connect with Hilary and other Live All In Members (Annual plans only)</li>
      </ul> -->
    </section>
</ion-content>
