<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <div slot="start">Name:</div>
      <div slot="end">{{ auth.user.firstName }} {{ auth.user.lastName }}</div>
    </ion-item>
    <ion-item lines="full">
      <div slot="start">Email:</div>
      <div slot="end">{{ auth.user.email }}</div>
    </ion-item>
    <ion-item lines="none">
      <div slot="start">Subscription:</div>
      <div slot="end" [ngSwitch]="auth.user.planType">
        <span *ngSwitchCase="'subscription'">Monthly</span>
        <span *ngSwitchCase="'charge'">
          <span *ngIf="auth.user.planName.includes('Early')">Early Bird </span>Annual
        </span>
      </div>
    </ion-item>
  </ion-list>
  <ion-button id="logout-button" color="secondary" (click)="logout()">Logout</ion-button>
  <div id="site-link">
    Download toolkits and manage your account at
    <ion-button color="primary" fill="clear" (click)="helper.openURL()">www.liveallintoday.com</ion-button>
  </div>
</ion-content>
