ion-list {
    margin-top: 30px;
}
#logout-button {
    width: 80%;
    margin-left: 10%;
    font-weight: 800;
    position: absolute;
    bottom: 80px;
}
#site-link {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
